// rewrite material styles
.mat-form-field-appearance-legacy {
  .mat-form-field-flex {
    padding: 0.4rem 0.5rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
  }

  .mat-form-field-infix {
    width: 120px;
    border-top: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
