:root {
  --shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  --border-radius: 0.3rem;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fff;
}

a {
  color: #1a0dab;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

  &:hover {
    text-decoration: underline;
  }
}

// rewrite material styles
.mat-form-field-appearance-legacy {
  .mat-form-field-flex {
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--shadow);
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}
