@import './assets/styles/styles.scss';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background);
}

a {
  color: #1a0dab;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

  &:hover {
    text-decoration: underline;
  }
}
